.getup2 {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 320px;
  }
  
  .getup2 .div {
    background-color: #222222;
    border: 1px none;
    border-radius: 4px;
    height: 286px;
    overflow-x: hidden;
    position: relative;
    width: 280px;
  }
  
  .getup2 .frame {
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    left: 201px;
    padding: 8px 16px;
    position: absolute;
    top: 237px;
    width: fit-content;
  }
  
  .getup2 .text-wrapper {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .getup2 .p {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 51px;
    white-space: nowrap;
    width: 248px;
  }
  
  .getup2 .text-wrapper-2 {
    color: #ffffffbf;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 151px;
    width: 248px;
  }
  
  .getup2 .frame-2 {
    align-items: flex-start;
    display: flex;
    gap: 195px;
    left: 16px;
    position: absolute;
    top: 8px;
    width: fit-content;
  }
  
  .getup2 .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .getup2 .img {
    height: 20px;
    min-width: 20px;
    position: relative;
  }
  
  .getup2 .frame-3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 16px;
    position: absolute;
    top: 96px;
    width: 248px;
  }
  
  .getup2 .h-1 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .getup2 .div-wrapper {
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    width: fit-content;
  }
  