.box {
	background-color: #222222;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	border: 0px none;
	border-radius: 4px;
	height: 286px;
	width: 280px;
	z-index: 10;
	position: relative;
	overflow-x: visible;
  }
  
  .focus-selected {
	height: 0px;
  }

  .box .onboarding-alt {
	background-color: #222222;
	border: 1px none;
	border-radius: 4px;
	height: 286px;
	top: -96px;
	right: -24px;
	overflow-x: hidden;
	position: absolute;
	width: 280px;
  }
  
  .box .frame {
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	gap: 8px;
	justify-content: center;
	left: 200px;
	padding: 8px 16px;
	position: absolute;
	top: 237px;
	width: fit-content;
  }
  
  .box .text-wrapper {
	color: #222222;
	font-family: "Inter-Regular", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	margin-top: -1px;
	position: relative;
	width: fit-content;
  }
  
  .box .p {
	color: #ffffff;
	font-family: "Inter-Regular", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 16px;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 35px;
	white-space: nowrap;
  }
  
  .box .div {
	align-items: flex-start;
	display: flex;
	gap: 195px;
	left: 16px;
	position: absolute;
	top: 8px;
	width: fit-content;
  }
  
  .box .text-wrapper-2 {
	color: #ffffff;
	font-family: "Inter-Regular", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	margin-top: -1px;
	position: relative;
	width: fit-content;
  }
  
  .box .cancel {
	height: 20px;
	min-width: 20px;
	position: relative;
  }
  
  .box .group {
	height: 82px;
	left: 54px;
	position: absolute;
	top: 87px;
	width: 172px;
  }
  
  .box .div-wrapper {
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	gap: 8px;
	justify-content: center;
	left: 0;
	padding: 8px 16px;
	position: absolute;
	top: 0;
	width: fit-content;
  }
  
  .box .frame-2 {
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	gap: 8px;
	justify-content: center;
	left: 94px;
	padding: 8px 16px;
	position: absolute;
	top: 0;
	width: 45px;
  }
  
  .box .frame-3 {
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	gap: 8px;
	justify-content: center;
	left: 94px;
	padding: 8px 16px;
	position: absolute;
	top: 49px;
	width: 45px;
  }
  
  .box .frame-4 {
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	gap: 8px;
	justify-content: center;
	left: 0;
	padding: 8px 16px;
	position: absolute;
	top: 49px;
	width: 45px;
  }
  
  .box .frame-5 {
	align-items: center;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	gap: 8px;
	justify-content: center;
	left: 105px;
	padding: 8px 16px;
	position: absolute;
	top: 185px;
	width: 45px;
  }
  
  .box .text-wrapper-3 {
	color: #222222;
	font-family: "Inter-Regular", Helvetica;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	margin-left: -1.5px;
	margin-right: -1.5px;
	margin-top: -1px;
	position: relative;
	width: fit-content;
  }
  
