.onboarding-alt {
    background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 96px;
  margin-left: 1136px;
  margin-right: 24px;
  border: 1px none;
  border-radius: 4px;
  height: 286px;
  overflow-x: visible;
  position: relative;
  width: 280px;
  }
  
  
  
  .onboarding-alt .frame {
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    justify-content: center;
    left: 200px;
    padding: 8px 16px;
    position: absolute;
    top: 237px;
    width: fit-content;
  }
  
  .onboarding-alt .text-wrapper {
    color: #222222;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .onboarding-alt .p {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
    white-space: nowrap;
  }
  
  .onboarding-alt .frame-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 16px;
    position: absolute;
    top: 95px;
    width: fit-content;
  }
  
  .onboarding-alt .frame-3 {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
  }
  
  .onboarding-alt .img {
    height: 20px;
    min-width: 20px;
    position: relative;
  }
  
  .onboarding-alt .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .onboarding-alt .frame-4 {
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
  }
  
  .onboarding-alt .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .onboarding-alt .frame-5 {
    align-items: flex-start;
    display: flex;
    gap: 195px;
    left: 16px;
    position: absolute;
    top: 8px;
    width: fit-content;
  }
  
.radio{
    height: 20px;
  width: 20px;
}